@import "highlight.js/styles/github.css"(prefers-color-scheme: light);
@import "highlight.js/styles/github-dark.css"(prefers-color-scheme: dark);

@import "tailwindcss";


/* 根元素占满窗口 */
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

*:focus {
    outline: none;
}

/* 自定义的字体 */
@font-face {
    font-family: 'HarmonyOS_Sans_SC';
    src: url('/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular (Normal) */
}

@font-face {
    font-family: 'HarmonyOS_Sans_SC';
    src: url('/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
}

body {
    font-family: 'HarmonyOS_Sans_SC', sans-serif;
}

/* 按下 Ctrl 键时，鼠标指针变为移动状态，提示用户可以移动窗口。 */
.ctrl-press-cursor * {
    cursor: move !important;
}